kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  image: kindest/node:v{{ KUBE_VERSION }}
  extraPortMappings:
  - containerPort: 6443
    hostPort: 36443
    listenAddress: 0.0.0.0
  extraMounts:
  - hostPath: /var/run/docker.sock
    containerPath: /var/run/docker.sock
