kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  image: kindest/node:v{{ KUBE_VERSION }}
#  kubeadmConfigPatches:
#  - |
#    kind: InitConfiguration
#    nodeRegistration:
#      kubeletExtraArgs:
#        node-labels: "ingress-ready=true"
#        authorization-mode: "AlwaysAllow"
#  extraPortMappings:
#  - containerPort: 8080
#    hostPort: 8080
#  - containerPort: 80
#    hostPort: 80
#  - containerPort: 443
#    hostPort: 443
{% if  SVC_CLUSTER_HOST_MOUNTS is defined %}
  extraMounts:
  {% for key,item in SVC_CLUSTER_HOST_MOUNTS.iteritems() %}
  - hostPath: {{ item.host_path }}
      containerPath: {{ item.host_path }}
  {% endfor %}
{% endif %}
