# /etc/systemd/system/vault.service
[Unit]
Description=Hashicorp Vault Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory={{ CONFIG_DIR }}
ExecStart=/usr/local/bin/docker-compose -f {{ CONFIG_DIR }}/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f {{ CONFIG_DIR }}/docker-compose.yml down

[Install]
WantedBy=multi-user.target
